
.AddInovice{
    position:absolute;
    top:-30px;
    right:30px;
}
.circle{
        border:0px;
        border-radius: 50%;
        padding:10px;
        display: flex;
      background-color: rgb(223, 73, 103);
      box-shadow: 0 0 7px black;
      cursor: pointer;
     
}

